{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="icon" sizes="96x96" href="{% static 'images/icon.png' %}">
  <script>var app = {};</script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">podsy</a>
      </div>
      <div id="nav-content" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for cat in categories %}
              <li><a href="#/pods/categories/{{ cat.id }}/">{{ cat.name }}</a></li>
              {% endfor %}
              <li><a href="#/categories/">More...</a></li>
              {% if username %}
              <li><a href="#/categories/new/">Add category...</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if username %}
          <li><a href="#/pods/new/">Create</a></li>
          <li><a href="#/account">{{ username }}</a></li>
          {% else %}
          <li><a href="#/signin">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div id="pods-container" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pods</h3>
      </div>
      <div class="panel-body">
        <ul id="pods-list">
        </ul>
      </div>
    </div>
  </div>
  <div id="categories-container" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <ul id="categories-list">
        </ul>
      </div>
    </div>
  </div>
  <div id="signin" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form action="/signin/" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign in</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="category" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/categories/" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add category</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Category name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="description" placeholder="Category description">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="upload" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create a pod</h4>
        </div>
        <div class="modal-body">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#nofile" aria-controls="profile" role="tab" data-toggle="tab">Link to existing podcast</a></li>
              <li role="presentation"><a href="#file" aria-controls="home" role="tab" data-toggle="tab">Upload file</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="nofile">
                <p>
                  <form action="/pods/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="audio_url" placeholder="Audio url">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="podcast_url" placeholder="Podcast url">
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="category_id">
                        <option>Category</option>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </p>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="file">
                <p>
                  <form action="/pods/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="category_id">
                        <option>Category</option>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="file" class="form-control" name="audio_file">
                    </div>
                  </form>
                </p>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/template" id="pod-template">
    <div class="pod">
      <div class="votebuttons">
        <a class="upvote"><span class="glyphicon glyphicon-arrow-up"></span></a><br>
        <a class="downvote"><span class="glyphicon glyphicon-arrow-down"></span></a>
      </div>
      <div class="podtitle">
        <a href="#/pods/<%= id %>/"><%= name %></a>
        <div class="category"><%= category %></div>
      </div>
    </div>
  </script>
  <script type="text/template" id="pod-listen-template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= name %></h4>
        </div>
        <div class="modal-body">
          <p><audio src="<%= audioUrl %>" controls autoplay></audio></p>
          <p><a href="<%= podcastUrl %>" target="_blank"><%= podcastUrl %></a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="category-template">
    <div class="category">
      <h4><%= name %> <small><%= description %></h4>
    </div>
  </script>
  <script src="{% static 'js/require.js' %}" data-main="{% static 'js/main' %}"></script>
</body>
</html>
