{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="icon" sizes="96x96" href="{% static 'images/icon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">
  <script>
    var app = {
      podsData: {{ podsData|safe }},
      tagsData: {{ tagsData|safe }},
      loggedIn: {{ loggedIn }},
      userid: '{{ u.id }}',
      username: '{{ u.username }}',
      csrf: "{% csrf_token %}",
      monthNames: [
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec"
      ]
    };
  </script>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">podsy</a>
      </div>
      <div id="nav-content" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for cat in categories %}
              <li>
                <a href="#/pods/categories/{{ cat.id }}/">{{ cat.name }}</a>
              </li>
              {% endfor %}
              {% if username %}
              <li><a href="#/categories/new/">Add category...</a></li>
              {% endif %}
            </ul>
          </li>
          <li><a href="#/about/">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if username %}
          <li><a href="#/pods/new/">Create</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/account/">Account</a></li>
              <li role="presentation" class="dropdown-header">My Favorites</li>
              <li><a href="#/pods/favs/">Pods</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="#/signin/">Sign in</a></li>
          <li><a href="#/signup/">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- 'Cards' -->
  <div id="pods-container" class="container card">
    <ul id="pods-list" class="list-unstyled">
    </ul>
  </div>
  <div id="pod-detail-container" class="container card">
  </div>
  <div id="signup" class="container card">
    <h3 class="title">Sign up</h3>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="passconfirm" placeholder="Confirm password">
      </div>
      <button type="submit" class="btn btn-default submit">Submit</button>
    </form>
  </div>
  <div id="categories-container" class="container card">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <ul id="categories-list" class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>
  <div id="account-container" class="container card">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">My account</h3>
        <p>Username: {{ u.username }}</p>
        <p>Account created: {{ u.created }}</p>
        <form action="/signout/" method="post">
          {% csrf_token %}
          <p><button type="submit" class="btn btn-default">Log out</button></p>
        </form>
      </div>
    </div>
  </div>
  <div id="about-container" class="container card">
    <h3 class="title">About</h3>
    <h4 class="subtitle">We're a new community.</h4>
    <p>
      We created Podsy to serve the world of podcasts in two
      fundamental areas:
      <ul>
        <li>
          Pre-Podsy, the web didn't have a central, go-to place for podcasts,
          like YouTube is for videos or like Reddit is for social news and cats.
          A number of sites have tried, and so has iTunes, but none have reached
          the potential of what we think can be done.
        </li>
        <li>
          We're here to provide not just a repository of audio content, but a
          community that is dynamic, interactive, and helpful to listeners' lives.
        </li>
      </ul>
    </p>
  </div>

  <!-- Modals -->
  <div id="signin" class="container card">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="title">Sign in</h4>
        <form action="/signin/" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary submit">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="category" class="container card">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Add category</h3>
        <form action="/categories/" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Category name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Category description">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="upload" class="container card">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Create a pod</h3>
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nofile" aria-controls="profile" role="tab" data-toggle="tab">Link to existing podcast</a></li>
            <li role="presentation"><a href="#file" aria-controls="home" role="tab" data-toggle="tab">Upload file</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="nofile">
              <p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="audio_url" placeholder="Audio url">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="podcast_url" placeholder="Podcast url">
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="category_id">
                      <option value="">Category</option>
                      {% for cat in categories %}
                      <option value="{{ cat.id }}">{{ cat.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="tags-container form-control">
                      <input type="text" class="tag" placeholder="Tags">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary submit">Submit</button>
                  </div>
                </p>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="file">
              <p>
                <form enctype="multipart/form-data" class="file">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="category_id">
                      <option value="">Category</option>
                      {% for cat in categories %}
                      <option value="{{ cat.id }}">{{ cat.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="tags-container form-control">
                      <input type="text" class="tag" placeholder="Tags">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="file" name="audio_file">
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary submit">Submit</button>
                  </div>
                </form>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
  <script type="text/template" id="pod-template">
    <div class="pod">
      <div class="votebuttons">
        <a class="upvote"><span class="glyphicon glyphicon-arrow-up <% if (upToggled) print('red') %>"></span></a><br>
        <a class="downvote"><span class="glyphicon glyphicon-arrow-down <% if (downToggled) print('red') %>"></span></a>
      </div>
      <div class="podtitle">
        <a href="#/pods/<%= id %>/"><%= name %></a>
        <span class="glyphicon glyphicon-star<% if (!fav) print('-empty') %>"></span>
        <div class="category">
          in <a href="#/pods/categories/<%= category_id %>/"><%= category %></a>
          <% if (tags.length) { %>
            tagged with <% for (var i = 0; i < tags.length; i++) print('<a class="tag" href="#/tags/{tag.name}/">{tag.name}</a> '.replace(/{tag.name}/g, tags[i].name)) %>
          <% } %>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="pod-detail-template">
    <div id="pod-detail">
      <h3>Listen</h3>
      <p><%= name %></p>
      <p><audio src="<%= audioUrl %>" controls autoplay></audio></p>
      <p><a href="<%= podcastUrl %>" target="_blank"><%= podcastUrl %></a></p>
      <h3>Talk</h3>
      <form>
        <div class="form-group">
          <textarea class="form-control" name="text"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
      <div class="comments-container"></div>
    </div>
  </script>
  <script type="text/template" id="pod-listen-template">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= name %></h4>
        </div>
        <div class="modal-body">
          <p><audio src="<%= audioUrl %>" controls autoplay></audio></p>
          <p><a href="<%= podcastUrl %>" target="_blank"><%= podcastUrl %></a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="category-template">
    <div class="category">
      <h5><strong><a href="#/pods/categories/<%= id %>/"><%= name %></a></strong> <%= description %></h5>
    </div>
  </script>
  <script type="text/template" id="category-detail-template">
    <h4><%= name %> &nbsp;<small><%= description %></small></h4>
  </script>
  <script type="text/template" id="comment-template">
    <div class="comment-metadata">
      <%= timestamp %> by <a href="#/users/<%= userid %>/"><%= username %></a>
    </div>
    <p><%= text %></p>
    <div class="comment-actions">
      <button type="button" class="btn btn-link btn-xs reply">Reply...</button>
      <form class="reply-container">
        <div>
          <textarea class="form-control" name="text"></textarea>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-xs submit">Submit</button>
        </div>
      <form class="reply-container">
      </form>
    </div>
    <div class="children-container"></div>
  </script>
  <script src="{% static 'js/require.js' %}" data-main="{% static 'js/main' %}"></script>
</body>
</html>
