body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    resize: none;
}
.votebuttons {
    margin: 0 5px;
}
.votebuttons, .podtitle {
    display: inline-block;
    vertical-align: top;
}
.votebuttons > div {
    text-align: center;
    font-size: 80%;
}
.category > div {
    display: inline-block;
}
.category-name {
    font-weight: bold;
}
#pods-list > li {
    padding: 5px 0;
}
#pods-list li:nth-child(even) {
    background: #fafafa;
}
.podtitle > a {
    font-weight: bold;
}
.podtitle .category {
    font-size: 80%;
}
.glyphicon {
    color: #aaa;
    cursor: pointer;
}
.glyphicon-arrow-up, .glyphicon-arrow-down {
    font-size: 17px;
}
.pod .tag {
    background: #f0f0f0;
    padding: 3px;
    margin-bottom: 1px;
    display: inline-block;
}
.view:not(#pods-view) {
    display: none;
}
.view > h4 {
    margin: 0 0 15px 10px;
}
.glyphicon.up-toggled {
    color: #66c;
}
.glyphicon.down-toggled {
    color: #977;
}
#pod-detail-view .comment {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
}
#pod-detail-view .comment-metadata {
    font-size: 80%;
    color: #999;
    margin-bottom: 5px;
}
#pod-detail-view .reply-container {
    display: none;
}
#pod-detail-view .reply-container > div {
    margin-bottom: 5px;
}
input.tag {
  border: 0;
  background: #fff;
  outline-color: #fff;
}
span.tag {
  display: inline-block;
  padding: 0 5px;
  background: #eee;
  margin-right: 5px;
}
span.tag-value {
  display: inline-block;
  margin-right: 4px;
}
span.tag .glyphicon-remove {
  color: #999;
  font-size: 11px;
  cursor: pointer;
}
h3.title {
  margin: 10px 0 20px;
}
h4.subtitle {
  margin: 0 0 15px 0;
}
#tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#tags-list > li {
  margin: 5px 0;
}
div.tag-search {
  margin-bottom: 5px;
}
#user-view ul.list-unstyled {
  margin-bottom: 20px;
}
#user-view .comment {
    color: #999;
}
#user-view .comment-preview {
    color: #000;
}

/* Bootsnipp widgets - begin */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Bootsnipp widgets - end */

/* jQuery autocomplete for Bootstrap - begin */

.ui-autocomplete {
  z-index: 1050;
}
ul.ui-autocomplete li {
  padding: 5px;
}

/* jQuery autocomplete for Bootstrap - end */

/* Media queries - begin */
@media (max-width: 480px) {
  .view {
    font-size: 110%;
  }
  .podtitle {
      width: 90%;
  }
  #pods-view {
    margin: 0;
    padding: 0;
  }
  #pods-list .pod {
    padding-left: 5px;
  }
  h3.title {
    margin-bottom: 10px;
  }
  .navbar {
    margin-bottom: 5px;
  }
  .glyphicon-arrow-up, .glyphicon-arrow-down {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
}
/* Media queries - end */
