body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.votebuttons {
    margin: 5px;
}

.votebuttons, .podtitle {
    display: inline-block;
    vertical-align: middle;
}

.votebuttons > div {
    text-align: center;
    font-size: 80%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
