body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.votebuttons {
    margin: 5px;
}
.votebuttons, .podtitle {
    display: inline-block;
    vertical-align: middle;
}
.votebuttons > div {
    text-align: center;
    font-size: 80%;
}
.category > div {
    display: inline-block;
}
.category-name {
    font-weight: bold;
}
#pods-list li:nth-child(even) {
    background: #fafafa;
}
.podtitle > a {
    font-weight: bold;
}
.podtitle .category {
    font-size: 80%;
}
@media (max-width: 480px) {
    .podtitle {
        width: 90%;
    }
}
#pod-detail > p, #pod-detail > .comments-container {
    margin-left: 20px;
}
.pod .glyphicon {
    color: #aaa;
    cursor: pointer;
}
.card:not(#pods-container) {
    display: none;
}
.card > h4 {
    margin: 0 0 15px 10px;
}
.glyphicon.red {
    color: red;
}
.comment {
    border: 1px solid #bbb;
    padding: 5px;
    margin: 5px;
}

/* Bootsnipp widgets - begin */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Bootsnipp widgets - end */
